body{
    margin-top: 13%;
    /* background-color: #FFF7D4; */
    /* background-color: #FBC02D; */
    background-color: lightsteelblue;
}
.btn{
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    border-color: white;
    cursor: pointer;
}
#counter-heading{
    font-weight: bold;
    font-size: 36px;
    margin-left: 10PX;
}
.increment{
    background-color: green;
    
}
.reset{
    background-color: #FBC02D;
}
.decrement{
    background-color: red;
}
#counter-value{
    font-size: 64px;
}
.container{
    background-color: white;
    width: 380px;
    height: 300px;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    margin-left: 35%;
}